<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <section class="flex justify-center items-center h-screen">
        <div class="max-w-md w-full bg-white p-8 rounded shadow-md">
            <h1 class="text-2xl font-semibold text-center mb-6">Cadastre-se</h1>
            <form>
                <div class="mb-4">
                    <label for="nomeInput" class="block text-sm font-medium text-gray-700">Nome</label>
                    <input id="nomeInput" class="form-input mt-1 block w-full" type="text" placeholder="Informe seu usuário">
                </div>
                <div class="mb-4">
                  <label for="CEPInput" class="block text-sm font-medium text-gray-700">CEP</label>
                  <input id="CEPInput" class="form-input mt-1 block w-full" type="text" placeholder="Informe seu CEP">
                </div>
                <div class="mb-4">
                    <label for="celularInput" class="block text-sm font-medium text-gray-700">Numero celular</label>
                    <input id="celularInput" class="form-input mt-1 block w-full" type="email" placeholder="Informe seu e-mail">
                </div>
                <div class="mb-4">
                    <label for="senhaInput" class="block text-sm font-medium text-gray-700">Senha</label>
                    <input id="senhaInput" class="form-input mt-1 block w-full" type="password" placeholder="Informe sua senha">
                </div>
                <button id="cadastroButton" class="bg-blue-500 text-white px-4 py-2 rounded-full w-full mb-4">Cadastrar</button>
                <p class="text-center text-sm"><a href="/login" class="text-blue-500 hover:underline">Voltar para o Login</a></p>
            </form>
        </div>
    </section>

    <script>
        document.getElementById('cadastroButton').addEventListener('click', function(event) {
            event.preventDefault();
            
            var nome = document.getElementById('nomeInput').value;
            var celular = document.getElementById('celularInput').value;
            var senha = document.getElementById('senhaInput').value;
            var endereço = document.getElementById('CEPInput').value;
            
            let userData = {
                nome: nome,
                endereço: endereço,
                celular: celular,
                senha: senha
            };

            fetch('http://localhost:8000/cadastro', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na requisição');
                }
                return response.json();
            })
            .then(data => {
                console.log('Usuário cadastrado com sucesso:', data);
                window.location.href = './welcome.html';
            })
            .catch((error) => {
                console.error('Erro:', error);
                alert('Ocorreu um erro: ' + error.message);
            });
        });
    </script>
</body>
</html>
